# Home route
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Refugee Registration</title>
</head>
<body>
    <form action="/home" method="POST">
        <img src="refugee_logo.png" alt="" width="500" height="600">
        <label for="heading">Refugee Registration:</label>
        <input type="button" id="Register" name="Register"><br><br>
        <input type="button" id="View" name="View"><br><br>
        <input type="button" value="Admin" name="Admin">
    </form>
</body>
</html>